@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-color: #3b5998;
  --secondary-color: #8b9dc3;
  --text-color: #dfe3ee;
  --creamy-white: #f7f7f7;
  --white: #ffffff;
}

.app {
  height: 100vh;
  background-color: var(--creamy-white);
}

.Header {
  background-color: var(--white);
  border-bottom: 2px solid var(--text-color);
}

.header_input {
  background-color: var(--text-color);
}

.header-home::after {
  background-color: var(--main-color);
}

.header-middle div:hover {
  background-color: grey;
}
